/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.wrong{
    color: rgb(255, 51, 51);
}
body {
	background: #eee !important;	
}
.form-signin-heading,.checkbox {
    margin-bottom: 30px;
  }
.form-signin {
  /* display: none !important; */
  max-width: 380px;
  padding: 45px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  	
}
/* .wrapper{
  display: none;
} */
.checkbox {
  font-weight: normal;
}
.inputaspun {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.inputasppw{
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
h3
{
    text-align: center;
    margin-top: 0px;
}